In [1]:
from pathlib import Path
import preprocessing

MESSAGE_DATA_FILE_PATH = Path('../data/raw/AAPL_2012-06-21_34200000_57600000_message_1.csv')
ORDERBOOK_DATA_FILE_PATH = Path('../data/raw/AAPL_2012-06-21_34200000_57600000_orderbook_1.csv')

df = preprocessing.load_data(MESSAGE_DATA_FILE_PATH, ORDERBOOK_DATA_FILE_PATH)
df

                 ts  side  ask_price  bid_price                       full_ts
0      0.000000e+00     1     585.94     585.33 2013-09-01 09:30:00.004241152
1      9.107369e-07    -1     585.91     585.33 2013-09-01 09:30:00.025551872
2      8.604149e-06     1     585.93     585.36 2013-09-01 09:30:00.205573632
3      1.143183e-05     1     585.93     585.73 2013-09-01 09:30:00.271739392
4      1.143183e-05    -1     585.74     585.73 2013-09-01 09:30:00.271739392
...             ...   ...        ...        ...                           ...
54813  9.999872e-01     1     577.67     577.55 2013-09-01 15:59:59.145155072
54814  9.999934e-01     1     577.67     577.55 2013-09-01 15:59:59.289452288
54815  9.999974e-01     1     577.67     577.60 2013-09-01 15:59:59.383206656
54816  9.999974e-01     1     577.67     577.60 2013-09-01 15:59:59.383311360
54817  1.000000e+00    -1     577.61     577.54 2013-09-01 15:59:59.444019456

[54818 rows x 5 columns]

In [2]:
df = preprocessing.add_mid_price_column(df)
df = preprocessing.add_time_horizon_column(df)
df = preprocessing.add_sigma_column(df)
df = preprocessing.add_k_column(df)
df = preprocessing.add_A_column(df)
df

,ts,side,ask_price,bid_price,full_ts,mid_price,time_horizon,log_return,sigma,k,spread,A
1,9.107369e-07,-1,585.91,585.33,2013-09-01 09:30:00.025551872,585.620,0.999999,-0.000026,2.321656,54817.049924,0.58,0.154384
2,8.604149e-06,1,585.93,585.36,2013-09-01 09:30:00.205573632,585.645,0.999991,0.000043,2.321656,54817.049924,0.57,0.154384
3,1.143183e-05,1,585.93,585.73,2013-09-01 09:30:00.271739392,585.830,0.999989,0.000316,2.321656,54817.049924,0.20,0.154384
4,1.143183e-05,-1,585.74,585.73,2013-09-01 09:30:00.271739392,585.735,0.999989,-0.000162,2.321656,54817.049924,0.01,0.154384
5,1.157643e-05,1,585.93,585.74,2013-09-01 09:30:00.275123200,585.835,0.999988,0.000171,2.321656,54817.049924,0.19,0.154384
...,...,...,...,...,...,...,...,...,...,...,...,...
54813,9.999872e-01,1,577.67,577.55,2013-09-01 15:59:59.145155072,577.610,0.000013,-0.000035,2.321656,54817.049924,0.12,0.154384
54814,9.999934e-01,1,577.67,577.55,2013-09-01 15:59:59.289452288,577.610,0.000007,0.000000,2.321656,54817.049924,0.12,0.154384
54815,9.999974e-01,1,577.67,577.60,2013-09-01 15:59:59.383206656,577.635,0.000003,0.000043,2.321656,54817.049924,0.07,0.154384
54816,9.999974e-01,1,577.67,577.60,2013-09-01 15:59:59.383311360,577.635,0.000003,0.000000,2.321656,54817.049924,0.07,0.154384
54817,1.000000e+00,-1,577.61,577.54,2013-09-01 15:59:59.444019456,577.575,0.000000,-0.000104,2.321656,54817.049924,0.07,0.154384